# *.ipynb
*/__pycache__
__pycache__
*.pyc
*.cpython-36.pyc
.ipynb_checkpoints
.vscode
*.sh
*.json
*.csv
*.ipynb

## folder
_old
saved_models/*
tb_results/*
dataset/*
dataset
_tb_results_old

__pycache__/utils.cpython-36.pyc
__pycache__/dataset.cpython-36.pyc
saved_models_backup/*
