*.ipynb
*/__pycache__
__pycache__
*.pyc
*.cpython-36.pyc
.ipynb_checkpoints
.vscode
*.sh

## folder
saved_models/*
tb_results/*
dataset/*
dataset

__pycache__/utils.cpython-36.pyc
__pycache__/dataset.cpython-36.pyc
